<<<<<<< HEAD
footer{
    text-align:center
}

h1{
    font-family: "Momo Signature", cursive;
    font-weight:normal;
}

img{
    height: 100px;
=======
h1{
    color: orange;
    text-align: center;
}

h3{
    color: red;
    
>>>>>>> d46ad835074cbcac5a77238c1071101c58d605a5
}
